/*ExerciX 0.3 CSS (using LESS), MIT Licensed, 2013*/
/*///////////////////////////////////////////////  Fonts  //////////////////////////////////////////////*/
@font-face {
  font-family: 'LM';
  src: url('fonts/lmroman10-regular-webfont.eot');
  src: url('fonts/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lmroman10-regular-webfont.woff') format('woff'), url('fonts/lmroman10-regular-webfont.ttf') format('truetype'), url('fonts/lmroman10-regular-webfont.svg#lm_roman_10regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LMC';
  src: url('fonts/lmromancaps10-regular-webfont.eot');
  src: url('fonts/lmromancaps10-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lmromancaps10-regular-webfont.woff') format('woff'), url('fonts/lmromancaps10-regular-webfont.ttf') format('truetype'), url('fonts/lmromancaps10-regular-webfont.svg#lm_roman_caps_10regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LMI';
  src: url('fonts/lmroman10-italic-webfont.eot');
  src: url('fonts/lmroman10-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lmroman10-italic-webfont.woff') format('woff'), url('fonts/lmroman10-italic-webfont.ttf') format('truetype'), url('fonts/lmroman10-italic-webfont.svg#lm_roman_10italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'LM';
  font-weight: normal;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
/*//////////////////////////////////////////////////  Colors /////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////  Index  /////////////////////////////////////////////////////////////*/
body {
  margin: 0;
}
h1 {
  font-size: 60px;
  text-align: center;
  font-weight: normal;
}
h2 {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}
.title {
  margin-bottom: 0;
}
.subtitle {
  margin-top: 0;
}
.cat-title {
  font-size: 40px;
  text-align: center;
  background: #f14400;
  color: white;
  margin: 0;
  padding: 7px 0;
}
.cat-items-container {
  padding: 30px 10%;
}
.cat-item {
  max-width: 20%;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border: #ff8758 2px solid;
  color: #671d00;
  border-radius: 10px;
  text-align: center;
}
.cat-item:hover {
  background: #ffeae2;
}
/*//////////////////////////////////////////////////  Search  /////////////////////////////////////////////////////////////*/
input#search,
.tt-hint {
  width: 100% ;
  padding: 10px 20px;
  border: 0 none;
  font-size: 30px;
  -webkit-transition: all 0.5s;
  outline: 0 none;
  color: rgba(0, 0, 0, 0.4);
}
input#search:hover,
.tt-hint:hover,
input#search:focus,
.tt-hint:focus {
  color: black;
}
input#search:focus {
  background: rgba(255, 203, 148, 0.36) !important;
}
.twitter-typeahead {
  width: 100%;
}
.tt-dropdown-menu {
  background: white;
  width: 100%;
  padding: 20px;
  border-bottom: #be3600 3px solid;
  background: #fff5f1;
}
.search-cat {
  font-size: 30px;
  color: #f14400;
}
.tt-suggestion {
  padding-left: 20px;
  font-size: 18px;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion p:before {
  content: '•';
}
.tt-is-under-cursor {
  color: #be3600;
}
/*//////////////////////////////////////////////////  Cat  /////////////////////////////////////////////////////////////*/
.exos-container {
  padding: 0 15%;
}
.exos-container a {
  text-decoration: none;
}
.exos-container a:nth-child(4n) .exo-item {
  background: #ff6325;
}
.exos-container a:nth-child(4n + 1) .exo-item {
  background: #be3600;
}
.exos-container a:nth-child(4n + 2) .exo-item {
  background: #ffd0be;
  color: #8b2700;
}
.exos-container a:nth-child(4n + 2) .exo-item .exo-tag {
  border: 1px solid #8b2700;
}
.exos-container a:nth-child(4n + 3) .exo-item {
  background: #722000;
}
.exos-container a .exo-item {
  max-width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.exos-container a .exo-item .exo-item-source {
  font-size: 20px;
}
.exos-container a .exo-item .exo-tags-container {
  margin-top: 10px;
}
.exos-container a .exo-item .exo-tag {
  font-size: 13px;
  display: inline-block;
  margin: 2px;
  padding: 2px 4px ;
  border: 1px solid white;
  line-height: 14px;
}
.cat-nav,
.refresh {
  width: 20%;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  color: #581900;
  display: inline-block;
  background: #ffeee7;
  text-align: center;
}
.cat-nav:hover,
.refresh:hover {
  background: #ffdbcd;
}
.cat-nav-container,
.refresh-container {
  text-align: center;
}
.missing {
  text-align: center;
  font-size: 17px;
}
#filter-school {
  text-align: center;
  color: #581900;
  font-size: 20px;
  margin: 20px 0;
}
#filter-school .filter-school-element {
  margin: 10px;
  padding: 10px;
  background: #ffeee7;
}
#filter-school .filter-school-element.active-filter {
  background: #ffac8b;
}
/*//////////////////////////////////////////////////  Single Exo  /////////////////////////////////////////////////////////////*/
.question-solution-container {
  display: table;
  font-size: 18px;
}
.question {
  width: 30%;
  display: table-cell;
  background: #fff5f1;
  padding: 20px;
  color: #f14400;
}
.solution {
  width: 50%;
  display: table-cell;
  padding: 20px;
  color: #4e1600;
}
.solution a {
  text-decoration: none;
  color: inherit;
}
.solution .mail .icon-info-sign {
  font-size: 25px;
}
.orange-stripe {
  background: #f14400;
  padding: 10px;
  color: white;
  text-align: center;
}
.tags-container {
  display: inline-block;
}
.tag {
  font-size: 13px;
  display: inline-block;
  margin: 2px;
  padding: 2px 4px ;
  border: 1px solid white;
  line-height: 14px;
}
.single-exo-nav {
  text-align: center;
}
.single-exo-nav a {
  width: 20%;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  color: #581900;
  display: inline-block;
  background: #ffd0be;
  text-align: center;
}
.single-exo-nav a:hover {
  background: #ffac8b;
}
#flag {
  text-decoration: none;
  color: black !important;
  font-size: 15px;
  display: block;
  margin: 20px;
  text-align: center;
}
.show-solution,
#mailto {
  width: 100%;
  text-align: center;
  display: block;
}
.show-solution div,
#mailto div {
  display: inline-block;
  padding: 10px;
  background: #be3600;
  color: white !important;
  text-align: center;
}
#input-mailto {
  font-size: 20px;
  color: #8b2700;
  height: 44px;
  border: 1px solid;
  padding-top: 0px;
  display: inline;
  padding-bottom: 3px;
  padding-left: 10px;
  min-width: 330px;
}
#input-mailto[disabled="disabled"] {
  color: gray;
  border: 1px solid gray;
  background: #eee;
}
#mailto {
  display: inline;
}
#mailto div {
  background: #ff6325;
}
#mailto.disabled div {
  background: #eee;
  color: black !important;
}
/*//////////////////////////////////////////////////  Mobile  /////////////////////////////////////////////////////////////*/
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .cat-item {
    max-width: 90%;
  }
  .cat-items-container {
    padding: 20px 10px;
  }
  .tt-suggestion {
    font-size: 20px;
    background: #ffac8b;
    margin: 1px;
    padding: 4px;
  }
  .tt-suggestion p:before {
    content: '';
  }
  .search-cat {
    font-size: 20px;
  }
  .exo-item {
    max-width: 100% !important;
    width: 100%;
    position: relative !important;
    top: 0 !important;
    margin-bottom: 5px !important;
  }
  .exos-container {
    padding: 0;
    height: auto !important;
  }
  .exos-container a {
    width: 100%;
    display: inline;
  }
  .question-solution-container {
    display: block;
  }
  .question,
  .solution {
    display: block;
    width: 100%;
  }
  .single-exo-nav a {
    width: 50%;
    margin: 0;
  }
  .single-exo-nav a:first-child {
    border-right: 1px solid #581900;
  }
  .cat-nav,
  .refresh {
    width: 100%;
    margin: 0;
    border-top: 1px solid #581900;
  }
}
