<!DOCTYPE html>
<html>
  <head>
    <title>ExerciX 0.4</title>
    <meta charset="utf-8"/>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42009424-1', 'exercix.net');
  ga('send', 'pageview');

</script>
    <link rel="stylesheet" href="../../css/index.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.css" type="text/css"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
        <script src="/_utils/script/jquery.js"></script>
        <script src="/_utils/script/jquery.couch.js"></script>


    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}); </script>
    <script type="text/javascript" src="../../js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
	        <body>
	        
	        <h1 class="title">#{{number}}, {{school}} </h1>

	        <h2 class="subtitle">{{category}}, {{chapter}}</h2>
	        
	        <div class="orange-stripe">
	        <i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>
		     {{uploaddate}}
	        
	        {{#taglist}}
		        	<div class="tags-container">
			        			        	<div class="tag">{{.}}</div>

		        	</div>
	        {{/taglist}}
  		        </div>

					        	   

	        	<div class="question-solution-container">
		        	<div class="question">
		        	{{{question}}}
		        	</div>
		        	<div class="solution">
		        	<h2>Correction <a class="mail" href="mailto:{{author}}"><i class="icon-info-sign"></i></a></h2>
		        	<a class="show-solution" href="#"><div>Montrer la correction</div></a>

		        	{{#solution}}

		        	<div class="solution-text">{{{solution}}}</div>
		        	<a href="mailto:edelans@gmail.com?subject=Demande de correction du N.{{number}}, {{school}}, {{chapter}}" id="flag"><i class="icon-flag"></i> </a>
		        	{{/solution}}

		        	{{^solution}}
		        		<div class='missing'><i class='icon-ambulance'></i> Pas encore de solution rédigée dans la DB.<br><br>
		        		
		        		Laissez votre adresse mail, on vous préviendra dès qu'il y a du nouveau :
		        		<input id='input-mailto' placeholder="@">
		        		 <a id="mailto"><div><i class="icon-mail"></i>Demander la correction !</div></a>
		        		 
		        		
		        		</div>
		        		
		        	{{/solution}}
	        	</div>
	        	</div>
	        	
	        	
					<div class="single-exo-nav">
						<a href="../../index.html">Retour au sommaire</a>
						<a href='../../_list/list/exercix?key="{{chapter}}"'>Retour au châpitre</a>
					</div>
					
					<script>
					// Show/Hide solution Script : MathJax must load with its DOM elements displayed, so we lower the opacity to 0, wait for MathJax and then hide (eg display : none)
						$(".solution-text").css("opacity",0);
						$(".missing").hide();
						MathJax.Hub.Queue(function () {
						$(".solution-text").hide();
						
						$(".show-solution").click(function(e){
							e.preventDefault();
							$(".solution-text, .missing").css("opacity", 1).show();
							$(".show-solution").hide();
						});
						});
						
						
	function saveDocument( document ){
        $db.saveDoc( document, {
            success: function( response )  {
                console.log("Document Updated.");
            },
            error: function() {
                alert( "Cannot save document" );
            }
        });
        };
        
    //DB connection
      $db = $.couch.db("exercix");
      var id = "{{id}}";
      
      // Viewcount Update
window.onload=function(){     
$db.openDoc( id, {
                    success: function( document ) {
                        document.viewcount += 1;
                     console.log("Viewcount update to : " + document.viewcount);
                        saveDocument(document);
                    }
                    });
                    };
                    
    // Flag Update                
if(document.getElementById('flag')){
document.getElementById('flag').addEventListener('click',          
	function(){
	 	var flagButton = this;
     $db.openDoc( id, {
                   		success: function( document ) {
	                   	document.flagcount += 1;
                    	console.log("Flagcount update to : " + document.flagcount);
                	    saveDocument(document);
             	        flagButton.style.color="gray";
                    }
                    });
                    });};
                    
                    
    function requestSolution(){ // requestcount Update
	var mailtoButton = document.getElementById('mailto');
	var mail = document.getElementById('input-mailto');
     $db.openDoc( id, {
                    success: function( document ) {
                    if(!document.requestcount){document.requestcount=[];}
                    document.requestcount.push(mail.value);
                    console.log("requestcount update to : " + document.requestcount);
                    saveDocument(document);
                      }
                  });
     $('#mailto div').text('Merci !');
     $('#input-mailto').attr("disabled","disabled");
     $('#mailto').addClass('disabled').unbind('click');

                }
  
  //Disable the form                              
$('#mailto').not('.disabled').click(function (){requestSolution()});
$('input#input-mailto').keyup(function(){
	if (event.which == 13) { // If enter key
			requestSolution()
     	}
   
});

// Difficulty
$('.orange-stripe i:lt(' + {{difficulty}} + ')').removeClass('icon-star-empty').addClass("icon-star");
						
					</script>
	        </body>
</html>        	           
        	           